* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SITE HEADER */
.site-header{
  background-color: #1F4863!important;

}
.navbar-brand{
  color: #fff!important;
  font-size: 1.8em!important;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center!important;
  
}
@media (max-width: 360px){
  .navbar-brand{
    font-size: 1.4em!important;
  }
}

/* Home body */

.links{
  
  text-align: center;
}

.center{
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
  width: 300px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: 600;
  margin: 10px 0;
  color: #fff!important;
  transform: scaleX(1) scaleY(1);
  transition: 0.5s ease-out!important;

}
.fill-survey{
  background-color: #1F4863!important; 
}
.view-survey{
  background-color: #FFAA2C;
}
.fill-survey:hover{
  background-color: #1f4863d0!important;
  transform: scaleX(1.05) scaleY(1.05);
  transition: 0.5s ease-in;
}
.view-survey:hover{
  background-color: #FFAA2Cd0;
  transform: scaleX(1.05) scaleY(1.05);
  transition: 0.5s ease-in;
}
.col{
  margin: auto;
}

/* SURVEY PAGE */
.survey h1{
  font-size: 1.6em;
  color:#1F4863;
}
.personal-details{
  margin-left: 35px!important;
}
.personal-details .form-label{
  color: #1f4863!important;
  width: 300px;

}
.form-control{
  border: 2px #FFAA2Cd0 solid!important;
}
.age-input{
  width: 80px!important;
}
.age-input::-webkit-inner-spin-button,
.age-input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
