* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.App{
  height: 100vh;
}

/* SITE HEADER */
.site-header{
  background-color: #1F4863!important;

}

.navbar-brand{
  color: #fff!important;
  font-size: 1.8em!important;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center!important;
  
}
@media (max-width: 360px){
  .navbar-brand{
    font-size: 1.4em!important;
  }
}

/* Home body */

.links{
  text-align: center;
}

.center{
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-link{
  width: 300px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: 600;
  margin: 10px 0;
  color: #fff!important;
  transform: scaleX(1) scaleY(1);
  transition: 0.5s ease-out!important;

}
.fill-survey{
  background-color: #1F4863!important; 
}
.view-survey{
  background-color: #FFAA2C;
}
.fill-survey:hover{
  background-color: #1f4863d0!important;
  transform: scaleX(1.05) scaleY(1.05);
  transition: 0.5s ease-in;
}
.view-survey:hover{
  background-color: #FFAA2Cd0;
  transform: scaleX(1.05) scaleY(1.05);
  transition: 0.5s ease-in;
}
.col{
  margin: auto;
}

/* SURVEY PAGE */

.survey h1{
  font-size: 1.6em;
  color:#1F4863;
}
.survey h2,
.results h2{
  text-align: center;
  color:#1F4863
}
.responses{
  margin-left: 35px!important;
}
.personal-details .form-label{
  color: #1f4863!important;
  width: 300px;

}
@media (max-width: 360px){
  .personal-details .form-label{
    width: 95%;
  }
  .responses{
    margin-left: 0!important;
  }
}
.form-control{
  /* border: 3px #FFAA2Cd0 solid!important;
  border-radius: 10px!important; */
  box-shadow: 0px 0px 12px 0px rgba(31, 72, 99, 0.048);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(31, 72, 99, 0.048);
  -moz-box-shadow: 0px 0px 12px 0px rgba(31,72,99, 0.048);
  border: none!important;
  border-radius: 0!important;
  /* border-bottom: 5px solid #FFAA2C!important; */
  background-color: #1f486310!important;
  transition: 0.3s ease-in-out!important;
}
.form-control:focus{
  
  outline: none!important;
  box-shadow: none!important;
  background-color: #1f486310!important;
  
  /* border-bottom: 2px solid #FFAA2C!important; */
}
.line{
  height: 4px;
  background: #FFAA2C;
  transition: 0.2s ease-in-out!important;
}
.err-line{
  height: 4px;
  background: red;
  transition: 0.2s ease-in-out!important;
}
.form-control:focus ~.line{
  background-color: #1F4863;
  
}
.err{
  background-color: red!important;
}
.date-picker::-webkit-calendar-picker-indicator{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%231f4863" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  transition: 0.3s ease-in-out!important;
}
.date-picker::-webkit-calendar-picker-indicator:hover{
  
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.age-input{
  width: 80px!important;
}
.age-input::-webkit-inner-spin-button,
.age-input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.contact::-webkit-inner-spin-button,
.contact::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}


.form-check{
  margin: 10px 0;
}
.form-check-input{
  transform: scale(1.4);
  border: solid 1px #FFAA2C!important ;
}
.form-check-input:checked{
  background-color: #1F4863!important;
  border: none!important;
  color: #FFAA2C!important;
}
.form-check-input:focus{
  outline: none!important;
  box-shadow: none!important;
}

.table{
  text-align: center;
  border-right: #FFAA2C!important;
  border: 0; 
}
.table tbody tr td{
  width: 50px;
}
.table thead{
  background-color: #1F4863!important;
  color: #fff!important;
  border-bottom: hidden!important;
}

.table tbody tr td:first-child{
  width: 225px;
}

.form-radio-input::before{
  transform: scale(1.2)!important;
}

.submit-form{
  background-color: #FFAA2C!important;
  border: none!important;
  width: 200px;
  height: 55px;
  font-size: 2.0em!important;
  padding: 0!important;
  font-weight: 600!important;
  transition: 0.3s ease-in-out!important;
  
}
.submit-form:hover{
  transform: scale(1.05);
  background-color: #FFAA2Cd0!important;

}
.display-errors{
  height: 20px!important;
  color: #ff3e3e!important
}

/* RESULTS */
.results{
  color: #1F4863!important;
  height: 100vh;
}
.results-table-data{
  background-color: #f3f1f1;
  width: 75vh;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  transition: 0.35s ease-in-out!important;
}
@media (max-width: 768px){
  .results-table-data{
    width: 100%;
  }
}
.results-table-data:hover{
  box-shadow: 0px 0px 12px 0px rgba(31,72,99,0.63);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(31, 72, 99, 0.2);
  -moz-box-shadow: 0px 0px 12px 0px rgba(31,72,99,0.63);
  cursor: pointer;
  transform: scale(1.01);
}
.results .table{
  margin: 0 auto;
  text-align: start;
  border-top: 0!important;
  border-bottom: 2px solid rgb(31, 72, 99);
  width: 70vh;
  font-size: 1.3em;
  color:#1F4863;
  

}
@media (max-width: 768px){
  .results .table{
    width: 100%;
  }
}
.results .table td:last-child{
  border-left: #1F4863 2px solid;
  padding: 0 10px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  width: 20%;
}

/* Footer */
.site-footer{
  background-color: #1F4863!important;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
  padding: 10px;
}


.home {
  -webkit-animation: fadein 1s; 
     -moz-animation: fadein 1s; 
      -ms-animation: fadein 1s; 
       -o-animation: fadein 1s; 
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
